@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Fonts */
h1,
h2,
h3,
h4,
h5, .date {
  font-family: "Jura", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

p,
a,
button,
.subheader {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

a,
button {
  font-size: 21px;
}

p {
  font-size: 18px;
}
